body {
    width: 1240px;
    height: 1754px;
    /* border: solid black; */
    margin: 20px auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.imgdefault {
    width: 120px;
}

.header-text p {
    margin: 10px;
}

main{
    border: solid black 2px;
    margin-left: 50px;
    margin-right: 25px;
}

.sginfo{
    border-bottom: solid black 2px;
    background-color: rgb(152, 251, 251);
    text-align: center ;
    padding: 4px;
}

.topsect{
    display: flex;
    border-bottom: solid black 2px;
}

.sginfo p{
    margin: 0;
}

.block{
    margin-left: 5px;
    width: 33%;
}

.tablehead{
    background-color: rgb(152, 251, 251);
    border-bottom: solid black 2px;
}

.subtable{
    display: flex; 
    justify-content: space-between;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}


th {
    padding: 8px;
    text-align: center;
}

td{
    padding: 5px;
}

th div:first-child {
    justify-content: flex-start;
}

td:nth-child(4), td:nth-child(6) {
    text-align: center;
    vertical-align: middle;
}

.sched{
    margin-left:13px
}

td:nth-child(5) {
    padding-left: 50px; /* Example of adding padding to the entire column */
    text-align: left;
}


td:nth-child(6) {
    text-align: left;
    text-decoration: underline;
    text-underline-offset: 4px;
}

.unittopundrln{
    border-top: solid black 2px;
}

.feebox{
    border: solid rgb(0, 0, 0) 2px;
    margin-left: 20px;
    width: 45%;
}

.feeandrules{
    display: flex;
    width: 100%;
}

.feetable{
    width: 100%;
}

.feetable td:nth-child(2) {
    text-align: right;
    padding-right: 20px;
}

.feetable td{
    padding: 0;
    padding-left: 30px;
}

.tabletwo{
    width: 100%;
}

.tabletwo tr{
    border-top: solid black 1px;
}

.tabletwo td:first-child{
    width: 50%;
    text-align: right;
}

.tabletwo td:nth-child(3){
    width: 20%;
    text-align: right;
    border-top: solid black 2px;
}

.schedpymt{
    border-bottom: solid black 2px;
    border-top: solid black 2px; 
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    background-color:rgb(152, 251, 251);
}

.tablethree td{
    border:solid black 1px;
}

.tablethree tr:first-child{
    text-align: center;
}

.tablethree tr:nth-child(2) td{
    text-align: center;
}

.rulesonrefund{
    justify-content: center;
    width: 55%;
    padding-left: 60px;
}

.rulesonrefund p{
    margin-block-end: 0;
    margin-block-start: 0;
    padding-left: 30px;
}

ol li {
    padding-left: 20px;
}

hr{
    border: solid black 1px;
}

.rulesonrefund table{
    width: 100%;
}

.rulesonrefund tbody{
    width: 100%;
}

.rulesonrefund td:first-child{
    width: 40%;
}

.rulesonrefund td:nth-child(2){
    width: 60%;
    padding-right: 20px;
    text-align: center;
}

hr{
    margin-block-start: 0;
    margin-block-end: 3px;
}

.signature{
    width: 100%;
    display: flex;
}

.emptyblock{
    width: 489px;
    height: 300px;
    margin: 20px;
}

.regsign{
   width: 50%;
    padding: 100px;
}

.regsign p:nth-child(2){
    text-align: center;
}

.regsign p{
    margin-block-end: 0;
    margin-block-start: 5px;
}


.regsign p:first-child{
    margin-left: 15px;
}

.regsign hr{
    margin-left: 70px;
}


.dateprinted{
    text-align: right;
    margin-block-end: 0;
}

footer{
    background-color:rgb(152, 251, 251);
    border-top: solid black 1px;
    text-align: center;
}